/*******************
      Defaults
*******************/

/* reset for a starter canvas */
* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  /* border: 1px solid rgb(77, 196, 156); */
}

html {
  font-size: 24px;
  box-sizing: border-box; /* use alternative box model for all elements */
}

/* set all other elements to inherit the border-box value */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* use rem wherever possible (relative to html selector's font-size) */
body {
  max-width: 1160px;
  margin: 1rem auto; /* horizontal center */
  line-height: 1.4;
  color: rgb(29, 39, 39);
  font-family: Karla, sans-serif;
  padding: 1rem;
  /* background-image: linear-gradient(#ffffff, #e8f0fe); */
}

.background-color {
  background-color: rgb(232, 240, 254);
  box-shadow: 0 2px 4px rgb(79 119 205 / 80%);
  border-radius: 4px;
  /* border: 1.5px solid rgb(3, 42, 170); */
  /* box-shadow: 0px 4px 24px 0 rgba(79, 114, 205, 0.15); */
}

/*******************
      Nav Menu
*******************/

header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  border: 1.5px solid rgb(85, 97, 109);
  box-shadow: 0 2px 4px rgb(79 119 205 / 80%);
  height: 2.5rem;
  padding: 0.5rem 1rem;
  /* box-shadow: 0px 4px 24px 0 rgba(79, 114, 205, 0.15); */
}

header h1 {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(54, 36, 173);
  /* color: rgb(3, 42, 170); */
}

/* horizontal nav menu */
nav li {
  display: inline;
  padding-left: 1rem;
}

nav a {
  font-size: 0.85rem;
  color: rgb(0, 0, 0);
  /* font-weight: 600; */
  text-decoration: none;
  border-bottom: 1px dotted rgb(0, 0, 0); /* gives you more control */
  /* padding-bottom: 3px; */
  padding: 5px;
}

nav a:hover {
  border: 2px dotted rgb(0, 0, 0);
  border-radius: 5px;
  transform: translateY(-10px);
  /* background: linear-gradient(rgb(255, 255, 255), rgb(199, 214, 245)); */
  /* background: linear-gradient(rgb(255, 255, 255), rgb(199, 205, 240)); */
}

/*******************
       About
*******************/

/* center intro and icons */
.intro,
.icons {
  max-width: 25rem;
  margin: 0 auto;
}

.intro {
  font-size: 0.9rem;
}

.icons {
  list-style: none;
  padding-top: 27px;
  text-align: center;
}

/* w/inline-block, can set a width & height on the elements */
/* top and bottom margins/paddings are also respected */
.icons li {
  display: inline-block;
  margin-right: 1rem;
}

.icons img {
  width: 32px; /* widens spacing between icons */
  height: 32px;
}

/*******************
      Sections
*******************/

section {
  padding-top: 2rem;
  margin-bottom: 3rem;
  border-top: 1px dotted black;
}

.section-padding {
  padding-top: 2rem;
  margin-bottom: 4rem;
}

h1,
h2 {
  font-family: Roboto, sans-serif;
}

h2 {
  font-size: 0.97rem;
  font-weight: 500;
  padding: 0 2rem;
  color: rgb(64, 75, 87);
}

/*******************
       Skills
*******************/

/* skill-listed items */
.skill-items {
  list-style-type: none;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.skill-items li {
  margin: 0 0.5rem;
  padding: 0.2rem 0.5rem;
  background-color: rgb(244, 245, 244);
  color: rgb(0, 0, 0);
  font-style: italic;
  font-size: 0.75rem;
  border: 1.5px solid rgb(3, 42, 170);
  border-radius: 7px;
  box-shadow: 0 2px 4px rgb(79 119 205 / 45%);
}

/*******************
      Experience
*******************/

.experience h2 {
  padding-bottom: 1rem;
}

#projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#projects-container h3 {
  font-size: 0.85rem;
  font-style: italic;
  color: rgb(85, 97, 109);
}

/* styling experience cards */
.project-card {
  height: 300px;
  border: 2px dotted rgb(112, 128, 144);
  border-radius: 7px;
  padding: 0.5rem;
  width: 33.33%;
  margin: 0.25rem;
}

.inside-card {
  height: 275px;
  border: 0.12rem solid rgb(85, 97, 109);
  border-radius: 5px;
  padding: 0.5rem;
}

/*******************
      Projects
*******************/

.coding-journey {
  max-width: 25rem;
  margin: 0 auto;
  font-size: 0.9rem;
  padding-top: 1rem;
}

/* center bulleted <li> */
#projects li {
  max-width: 12.5rem;
  margin: 14px auto;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  list-style-type: none;
  color: rgb(54, 36, 173);
  font-style: italic;
  font-size: 0.8rem;
  outline-style: double;
}

#projects li::marker {
  color: rgb(54, 36, 173);
}

/* bullet circle is included inside double outline box */
/* #projects ul {
  list-style-position: inside;
} */

/*******************
       Form
*******************/

/* center form */
form {
  max-width: 800px; /* experiment w/rem so media queries are relative */
  width: 665px; /* experiment w/rem so media queries are relative */
  margin: 0 auto;
  padding: 1rem 2rem;
}

label {
  color: rgb(55, 64, 77);
  font-size: 0.85rem;
  padding: 0.7rem 0 0.1rem;
}

input,
textarea {
  background-color: rgb(244, 245, 244);
  font-family: Karla, sans-serif;
  font-size: 0.9rem;
  border: solid 0.12rem rgb(85, 97, 109); /* rgb(112, 128, 144) */
  border-radius: 7px;
  padding: 4px 8px;
}

input {
  width: 275px;
}

textarea {
  width: 560px;
  height: 285px;
}

.message_area {
  width: 560px;
}

/* positions label on top of input */
.field_label,
.field_input {
  display: block;
  font-size: 0.9rem;
}

/* "Name" label element sits next to "Email" label element (no line break like block) */
/* note: w/inline-block, can set a width & height on the elements */
/* top and bottom margins/paddings are also respected */
.field_inline {
  display: inline-block;
}

.field_message {
  width: 560px;
}

button {
  font-family: Karla, sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(92, 85, 137);
  border-radius: 7px;
  height: 40px;
  width: 85px;
  margin-top: 1rem;
  box-shadow: 0 2px 4px rgb(79 119 205 / 80%);
}

/*******************
      Messages
*******************/

/* style messages displayed when submit button */
#messages {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

#messages a {
  color: rgb(54, 36, 173);
  text-decoration-style: double;
  text-decoration-color: rgb(54, 36, 173);
  /* font-weight: 600; */
}

#messages ul {
  list-style-type: circle;
  margin-left: 2.5rem;
}

#messages li {
  padding: 0 0.2rem 0.2rem;
  font-size: 0.9rem;
  list-style-position: inside;
  /* height: 70px; */
}

/* spacing between message text and button "Remove" */
span {
  margin-right: 0.35rem;
}

/*******************
       Footer
*******************/

.footer-container {
  background-color: rgb(228, 232, 240);
  box-shadow: 0 2px 4px rgb(79 119 205 / 50%);
  border: 1.5px solid rgb(3, 42, 170);
  border-radius: 4px;
  height: 3rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 1px dotted rgb(112, 128, 144);
  border-left: 1px dotted rgb(112, 128, 144);
  border-right: 1px dotted rgb(112, 128, 144); */
  /* box-shadow: 0px 4px 24px 0 rgba(79, 114, 205, 20%); */
}

.icon-item li {
  display: inline-block;
}

/* .icons-in-footer {
  list-style: none;
} */

.icons-in-footer img {
  width: 37px; /* gives spacing between icons */
  height: 27px;
}

.copyright-item {
  font-size: 0.8rem;
  display: flex;
  gap: 10px; /* gap between copyright name and year */
}

.copyright-item div {
  display: inline-block;
}

/*******************
    Media Queries
*******************/

/* responsive webpage 915px */
@media only screen and (max-width: 950px) {
  html {
    font-size: 21px;
  }

  /* body {
    background-color: cyan;
  } */

  nav {
    display: flex;
    flex-direction: column;
  }

  .icons img {
    width: 30px; /* gives spacing between icons */
    height: 30px;
  }

  /* displays 2 project cards */
  .project-card {
    width: 50%;
  }

  form {
    width: 400px;
    padding: 0.5rem;
  }

  input {
    height: 2rem;
  }

  textarea {
    width: 400px;
    height: 10rem;
    margin-right: 0;
  }

  button {
    height: 37px;
    width: 78px;
  }

  #messages li {
    padding-bottom: 0px;
    height: 63px;
  }

  .icons-in-footer img {
    width: 28px; /* gives spacing between icons */
    height: 23px;
  }
}

@media only screen and (max-width: 815px) {
  nav {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  html {
    font-size: 19px;
  }

  /* body {
    background-color: rgb(193, 241, 153);
  } */

  .intro,
  .icons {
    max-width: 20rem;
    margin: 0 auto;
  }

  .about {
    padding-bottom: 1rem;
  }

  .icons {
    padding-top: 27px;
    text-align: center;
    /* height: 2.3rem; */
  }

  .icons img {
    width: 27px; /* gives spacing between icons */
    height: 29px;
  }

  h2 {
    padding: 0 1.7rem;
  }

  /* displays 1 project card */
  .project-card {
    width: 70%;
  }

  /* .inside-card {
    width: 200px;
    height: 200px;
  } */

  .coding-journey {
    max-width: 19rem;
    margin: 0 auto;
  }

  #projects li {
    max-width: 12rem;
    margin-left: 3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  form {
    width: 295px;
    padding: 0.5rem;
  }

  .field {
    display: block;
  }

  textarea {
    width: 275px;
  }

  #messages li {
    height: 60px;
  }

  button {
    width: 70px;
    height: 35px;
  }

  .icons-in-footer img {
    width: 26px; /* gives spacing between icons */
    height: 21px;
  }
}
